name: ui_kit
description: A new Flutter package project.
version: 0.0.1
author: test <test@getflutter.dev>
homepage: https://github.com/ionicfirebaseapp/getflutter

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
